* {
    margin: 0;
}

html, body {
    height: 100vh;
}

.bg-video{
    position: fixed;
    bottom: 0;
    right: 0;
    min-height: 100%;
    min-width: 100%;
}

.container{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    animation: show 4s 1 forwards;
    font-family: 'Rajdhani', sans-serif;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container__title{
    font-size: 8rem;
    text-transform: uppercase;
    background: repeating-linear-gradient(white, white 2px, transparent 2px, transparent 4px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container__subtitle{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 30px;
}

.links__container{
    display: flex;
    justify-content: center;
}

.container__links{
    flex-direction: column;
    margin-bottom: 20px;
}

.links__title{
    text-align: center;
    margin-bottom: 20px;
}

.links__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 150px;
}

.site__title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}


.container svg {
    width: 64px;
    height: 64px;
}

.container svg g, .container svg .path_1, .links__linkedin svg{
    fill: #fff;
    transition: all 1s ease;
}

.container svg:hover g, .container svg:hover .path_1, .links__linkedin svg:hover{
    fill: #000;
}


.uzprof__link svg  .uzprof__path-1{
    fill: transparent;
}

.uzprof__link svg  .uzprof__path-2{
    transition: all 1s ease;
    fill: #fff;
}

.uzprof__link svg:hover  .uzprof__path-2{
    fill: #000;
}

@media (max-width: 800px) {
    .container{
        max-width: 100vw;
    }

    .container__title{
        font-size: 4rem;
    }

    .container__subtitle{
        text-align: center;
        font-size: 2rem;
    }

    .links__item{
        width: 100px;
        padding: 10px;
    }

    .site__title{
        max-width: 100px;
    }
}